
<head>
	<link rel='stylesheet' href ='/css/account.css' type='text/css'/>
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>

<header>
	<img id="logo" src="images/comment9.png">
	<span id='tagline'>Flutter</span>
	<span id="search">Search for Users
	<form action='/search' method='GET'>
  	<input type="text" name="handle" placeholder="Handle"/>
  	<input type="submit" value="Submit!"/>
	</form></span>
</header>

<div id='user'>
	<header>Hey <%= current_user.name %></header>
	<span id = 'stats'><i> @<%= current_user.handle %></i>
	<table>
		<tr><td>Following: <%=current_user.followeds.count %> users.<td></tr>
		<tr><td>Followed by: <%=current_user.followers.count %></td></tr>
		<tr><td>Tweets: <%= current_user.tweets.count %></td></tr>
	</table></span>
	<a href = '/list_users'>See all users</a>



	<form action='/create_tweet' method='POST'>
		<input class="tweet_input" type="text" maxlength="140" placeholder = 'New Tweet!' name="content" /><br>
		<input type="submit" value="Submit!" />
	</form>
	<form id ='logout'action='/log_out' method='GET'>
  	<input type="submit" value="Logout"/>
	</form>
	</div>


<section>
<article id='own_tweets'>
	<p>Your own tweets!</p>
<% current_user.tweets.each do |tweet| %>
	<div class='tweet'>
	<p class='tweet_content'><%= tweet.content %></p>
	<h6 class = 'date'><%=tweet.time_difference%></h6>
	</div>
<% end %>
</article>

<article id ='followed_tweets'>
<% if current_user.followeds.count != 0 %>
	<p>Here are tweets from those you are following</p>
	<% followed_tweets.each do |tweet| %>
		<div class='tweet'>
		<p class = 'tweet_content'><%= tweet.content %></p>
		<p class = 'followed_tweet_author'>Tweeted by: <a href ='/view/<%=handle_from_tweet(tweet) %>'><%=handle_from_tweet(tweet) %></a> </p>
		<h6 class= 'date'><%= tweet.time_difference %></h6>
	</div>
	<% end %>
<% end %>
</article>
</section>
