<p>Hey <%= current_user.name %></p>
<h3><u> <%= current_user.handle %></u></h3>
<a href = '/list_users'>See all users</a>


<form action='/create_tweet' method='POST'>
	<input class="tweet_input" type="text" maxlength='140' placeholder = 'New Tweet!' name="content" /><br>
	<input type="submit" value="Submit!" />
</form>

<form action='/log_out' method='GET'>
  <input type="submit" value="Logout"/><br>
</form>


<% current_user.tweets.each do |tweet| %>
	<p><%= tweet.content %></p>
	<h6><%= tweet.created_at %></h6>
<% end %>

<p>Here are tweets from those you are following</p>

<% followed_tweets.each do |tweet| %>
	<p><%= tweet.content %></p>
	<p>Tweeted by: <a href ='/view/<%=handle_from_tweet(tweet) %>'><%=handle_from_tweet(tweet) %></a> </p>
	<h6><%= tweet.created_at %></h6>
<% end %>

<h3>SEARCH FOR USERS</h3>
<form action='/search' method='GET'>
  <input type="text" name="handle" placeholder="Handle"/><br>
  <input type="submit" value="Submit!"/>
</form>
