<head>
	<link rel='stylesheet' href ='/css/welcome.css' type='text/css'/>
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>

<header>
</header>
<body>
  <h3>Hacker News</h3>

  <% @articles.each do |art| %>
   <a href="/posts/<%=art.id%>"> <%= art.content %></a>
   <%= art.votes %><br>
   <% if current_user %>
   <table>
    <td>
      <form action="/posts/<%=art.id%>/vote/up" method='POST'>
        <input type='submit' value='Vote Up'>
      </form>
    </td>
    <td>
      <form action="/posts/<%=art.id%>/vote/down" method='POST'>
        <input type='submit' value='Vote Down'>
      </form>
    </td>
  </table>
  <% end %>
  <% end %>

<% if current_user %>
  <h3>Create a Post</h3>
  <form action='/posts/new' method='POST' >
    <input type='text' name='content' placeholder='Content' >
    <input type='submit' value='Submit'>
  </form>
  <% end %>

<% if !current_user %>
<h3> Sign Up</h3>
  <form action='/users/new' method='POST' >
    <input type='text' name='name' placeholder='Name' >
    <input type='submit' value='Submit'>
  </form>

<h3> Sign In</h3>
  <form action='/users/sign_in' method='POST' >
    <input type='text' name='name' placeholder='Name' >
    <input type='submit' value='Submit'>
  </form>

  <% else %>
  <a href='/account'>Account</a>
  <a href='/user/sign_out'>Sign Out</a>
  <% end %>
</body>

